.container {
	margin: 20px;
}

.design {
	float: left;
	width: 24%;
	height: 400px;
}

.design_name {
	width: 80%;
}

.flash-notice {
	position: absolute;
	top: 0;
	left: 35%;
	opacity: 0;
  animation-name: FadeOut;
  animation-duration: 5s;
}


@keyframes FadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}